.about {
	position: absolute;
	left: calc(9rem - 1vh);
  top: 5vh;   
  float: left;
  text-align: left;
  z-index: 0;
}
.title {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}
.title p {
	display: inline-block;
	font-size: 32px;
	color: #333;
	text-align: center;
	/* font-family: "Jura"!important; */
}
.title img {
	display: inline-block;
	width: 10vh;
	height: 10vh;
	border-radius: 10px;
	margin-right: 10px;
}
.description {
  color: #333;
	font-size: 20px;
}
.about ul {
	display: flex;
	align-items: center;
}
.about li {
	display: inline-flex;
	margin-right: 6px;
	transition: 0.2s;
	justify-content: center;
	align-items: center;
	float: left;
	text-align: left;
}
.about li img {
	height: 6vh;
	width: 6vh;
}
.about li:hover {
	filter: contrast(70%);
}
