@media only screen and (max-width: 767px) {
  .card {
    width: 28vh;
    height: 28vh;
  } 
  .cards__list {
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    margin-right: calc(4rem - 7.6vh);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 25vh;
    height: 25vh;
  }
  .cards__list {
    flex-direction: row;
    width: 170vh;
    margin-left: calc(8rem - 1vh);
  }
}
@media only screen and (min-width: 1024px) {
  .card {
    width: 32vh;
    height: 32vh;
  }
  .cards__list {
    flex-direction: row;
    width: 170vh;
    margin-left: calc(12rem - 1vh);
  }
}
.cards__list {
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  margin: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  width: 25vh;
  height: 25vh;
}
.card__image {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}
.card .card__image img {
  width: 80%;
  height: 80%;
  border-radius: 0px;
  object-fit: cover;
  margin: auto;
}
.card .card__title {
  text-align: center;
  border-radius: 0px 0px 0px 0px;
  font-size: 2.5vh;
  margin-top: 0px;
  height: 40px;
  overflow: hidden;
  max-width: 300px;
}
.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
              -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.title__white {
  color: white;
}
.title__black {
  color: black;
}