body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form__input {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 24px 36px;
  width: 375px;
}
.form__title {
  margin: 8px 0;
  font-size: 22px;
  color: #333;
}
input[type="text"], input[type="password"], input[type="email"] {
  margin: 12px 0px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: #eeeeee;
  transition: 0.2s;
  color: #555!important;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  outline: none;
  background-color: #e2e2e2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
input[type="text"]:placeholder, input[type="password"]:placeholder, input[type="email"]:placeholder {
  color: #555!important;
}
input[type="submit"] {
  background: #eeeeee;
  border: none;
  border-radius: 10px;
  margin: 16px 0 8px;
  padding: 12px;
  transition: 0.2s;
}
input[type="submit"]:focus {
  outline: none;
}
input[type="submit"]:hover {
  background: #e9e9ee;
  box-shadow: none;
  cursor: pointer;
}
input[type="submit"]:active {
  background: #e3e3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.link {
  width: 100%;
  text-align: center;
}
.link a {
  color: #111;
  font-size: 11.5px;
}
.link a:hover {
  color: #555;
}
