@media only screen and (max-width: 767px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .projects, .container {
    width: calc(15rem - 1vh);
    margin-left: calc(7rem - 1vh);
  }
  .more {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions, .td__teacher, .th__teacher, .td__team, .th__team, .td__leader, .th__leader, .count {
    display: none;
  }
  .column {
    position: absolute;
    right: 6vh;
  }
  .delete-column {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .projects, .container {
    width: 80%;
  }
  .actions, .projects-header .count {
    display: inline-block;
  }
  .more {
    display: none!important;
  }
  .column {
    display: none!important;
  }
  .delete-column {
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px var(--shadow-color);
    -moz-box-shadow: 0px 0px 10px 2px var(--shadow-color);
    box-shadow: 0px 0px 10px 2px var(--shadow-color);
    display: flex;
    overflow: hidden;
    width: 11.1rem;
    position: absolute;
    right: 6vh;
  }
  .delete-confirm ul {
    list-style: none;
    margin: 0;
    padding: 4px 4px;
    color: #555; 
  }
  .delete-confirm ul .action {
    display: inline-block;
    cursor: pointer;
    flex-basis: 8rem;
    padding: 0.75rem 1rem;
    color: #555; 
  }
  .delete-confirm ul .action:hover {
    background-color: #eee;
    border-radius: 5px; 
  }
  .delete-confirm ul .action.delete {
    color: red;
  }
  .delete-confirm ul .action.delete:hover {
    background-color: red!important;
    color: white!important;
  }
  .delete-confirm .message {
    background: #ffffdd;
    padding: 1rem;
    color: #555;
  }
  .delete-confirm .message {
    color: #555;
  }
}
body {
  height: calc(100vh - 4rem);
  display: flex;
}
table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  text-indent: initial;
  border-color: gray;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  text-align: left;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
  overflow: hidden;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul, li, span {
  margin: 0;
  padding: 0;
}
header {
  display: block;
}
.projects {
  background-color: #fff;
  font-family: Montserrat, Helvetica, Arial;
  line-height: 1.42857143;
  font-size: 13px;
}
.container {
  padding: 0;
  max-width: 960px;
  border-radius: 10px;
}
.container:after {
  clear: both;
  display: table;
  content: " ";
}
.projects-inner {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0px 5px 10px 2px var(--shadow-color);
  box-shadow: 0px 5px 10px 2px var(--shadow-color);
}
.projects-header {
  color: #555;
  padding: 22px;
  border-radius: 10px;
}
.projects-header .count {
  color: #738297;
}
.projects-header .glyphicon {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #555;
}
.projects-header .glyphicon:hover {
  color: #222;
}
.projects-header .title {
  font-size: 21px;
}
.projects-header .title + .count {
  margin-left: 5px;
}
.projects-header .title {
  display: inline-block;
}
.projects-table {
  width: 100%;
}
.projects-table td:not(:last-child),
.projects-table th {
  color: #555;
  padding: 10px 22px;
  vertical-align: middle;
}
.td__actions {
  text-align: center;
  padding: 10px 1px;
  color: #555;
  vertical-align: middle;
}
.projects-table td p {
  font-size: 12px;
}
.projects-table td p:last-of-type {
  color: #738297;
  font-size: 11px;
}
.projects-table th {
  background-color: #ebebeb;
}
.actions li {
  display: inline-block;
  margin-left: 4px;
  color: #555;
}
.view:hover {
  color: var(--link-hover-color);
}
.edit:hover {
  color: var(--link-login-color);
}
.trash:hover {
  color: var(--link-logout-color);
}
.more {
  color: #555;
}
.more:hover {
  color: #222;
}
