body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #555;
}
.container {
  margin: 30px 0;
  width: 118vh;
  padding: 1vh 2vh;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0px 5px 10px 2px var(--shadow-color);
  box-shadow: 0px 5px 10px 2px var(--shadow-color);
  display: flex;
  flex-direction: column;
}
.container .title {
  margin: 8px;
  font-size: 20px;
  color: #333;
}
input[type="text"], textarea {
  margin: 12px;
  padding: 16px;
  padding-right: 32px;
  border: none;
  border-radius: 10px;
  background-color: #eeeeee;
  transition: 0.2s;
  color: #555!important;
}
input[type="text"]:placeholder, input[type="text"]:-ms-input-placeholder, textarea:placeholder, textarea:-ms-input-placeholder {
  color: #555!important;
}
input[type="text"]:focus, textarea:focus {
  outline: none;
  background-color: #e2e2e2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.text__label {
  display: flex;
  flex-direction: column;
}
.text__label div {
  display: inline-block;
}
.text__label p {
  margin-right: 12px;
  margin-left: 12px;
}
.cover {
  z-index: -1;
  opacity: 0;
  width: 0!important;
}
.file__label {
  z-index: 1;
  display: inline-block;
  border: 1px solid #00000000!important;
  border-radius: 10px;
  margin: 12px;
  padding: 16px;
  width: 18vh;
  text-align: center;
  background-color: #eeeeee;
  transition: 0.2s;
}
.file__label:hover {
  border: 1px solid #555!important;
  outline: none;
  background-color: #e2e2e2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.file__label svg {
  display: inline-block;
}
.file {
  display: inline-block;
}
.file span {
  display: inline-block;
}
.file svg {
  display: inline-block;
}
.file svg:hover {
  color: #222;  
}
.team ul {
  position: relative;
  display: inline-block;
  text-align: justify; 
  list-style-type: none;
  overflow: hidden;
  margin: 12px;
}
.team ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  padding: 6px 10px;
  overflow: hidden;
  float: left;
  transition: 0.2s;
  margin-right: 12px;
  margin-bottom: 12px;
}
.team ul li:nth-child(3n) {
  clear: left;
}
.team ul li:nth-child(2n+1):nth-last-child(-n+2),
.team ul li:nth-child(2n+1):nth-last-child(-n+2) ~ li {
  margin-bottom: 0px!important;
}
.team ul li:focus {
  outline: none;
  background-color: #e2e2e2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.menu-item-divided:hover {
  outline: none;
  background-color: #e2e2e2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.submit {
  margin: 12px;
}
input[type="submit"] {
  padding: 11px;
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  transition: 0.2s;
}
input[type="submit"]:hover {
  background-color: var(--green-hover);
}
.cancel {
  padding: 12px;
  background-color: var(--red);
  color: white;
  border-radius: 10px;
  transition: 0.2s;
}
.cancel:hover {
  background-color: var(--red-hover);
}
