@media only screen and (max-width: 767px) {
  .sad {
    font-size: 1.7vh;
    margin-left: calc(10rem - 10vh);
  }
}
@media only screen and (min-width: 768px) {
  .sad {
    font-size: 2.2vh;
  }
}
.sad {
  color: #555;
}