@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jura:wght@600&display=swap');

:root {
  --body-color: #eaeef6;
  --shadow-color: #223c5022;
  --link-hover-color: #f3b519;
  --link-static-color: #6a778e; 
  --link-login-color: #16145f;
  --link-logout-color: #fa0000;
  --blue: #1C93ED;
  --green: #66B92E;
  --yellow: #DA932C;
  --red: #D65B4A;
  --red-hover: #BA3D2D;
  --green-hover: #4DA314;
}
* {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #55555588;
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #444444aa;
}
body {
  background: var(--body-color);
  font-family: "Open Sans", sans-serif;
}
