@media only screen and (max-width: 767px) {
  .saver {
    display: inline-block;
  }
  .ttl {
    padding-top: 1.5vh;
  }
}
@media only screen and (min-width: 768px) {
  .ttl {
    padding-left: 1.5vh;
    display: inline-block;
  }
  .saver {
    display: inline-flex;
  }
}
.saver {
  margin-top: 10px;
}
.view__container {
  position: absolute;
  left: calc(8.4rem - 1vh);
  top: 3vh;   
  float: left;
  text-align: left;
  z-index: 0;
}
.title {
  color: #555;
  display: flex;
  align-items: center;
}
.back {
  color: #555;
  display: inline-block;
}
.back:hover {
  color: #222;
}
.cover {
  height: 30vh;
  width: 30vh;
  border-radius: 10px;
  display: inline-block;
}
.ttl { 
  column-count: 1;
}
.ttl li:not(:last-child) span:not(:last-child) {
  color: #3d3c3c;
}
.ttl li:not(:last-child) span:last-child {
  color: #555;
}
.team {
  list-style-type: none;
  overflow: hidden;
  margin-top: 4.5px;
}
.team li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  padding: 6px 10px;
  overflow: hidden;
  float: left;
  transition: 0.2s;
  margin-right: 8px;
  margin-bottom: 8px;
}
.team li:nth-child(4n) {
  clear: left;
}
.dtl {
  display: block;
  max-width: 97vh;
  margin-bottom: 10px;
}
.dtl .description {
  color: #444;
  font-size: 14px!important;
}
.dtl ul li a {
  color: #555;
}
.dtl ul li a:hover {
  color: #333;
}
