<!DOCTYPE html>
<html lang="en ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projectForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Create project | Silaeder Projects</title>
  </head>
  <body>
    <form class="container" method="POST">
      <h1 class="title">Create Project</h1>
      <div class="form">
        <label for="title" class="text__label">
          <p><span style="color: red;">*</span>Title:</p>
          <input type="text" name="title" id="title" placeholder="Title" autocomplete="off" required/>
        </label>
        <label for="teacher" class="text__label">
          <p><span style="color: red;">*</span>Teacher:</p>
          <input type="text" name="teacher" id="teacher" placeholder="Name" autocomplete="off" required/>
        </label>
        <label for="leader" class="text__label">
          <p><span style="color: red;">*</span>Leader:</p>
          <input type="text" name="leader" id="leader" placeholder="Name" autocomplete="off" required/>
        </label>
        <label for="topic" class="text__label">
          <p><span style="color: red;">*</span>Topic:</p>
          <input type="text" name="topic" id="topic" placeholder="Topic" autocomplete="off" required/>
        </label>
        <label for="short-description" class="text__label">
          <p><span style="color: red;">*</span>Short description:</p>
          <input type="text" name="short-description" id="short-description" placeholder="Short description" autocomplete="off" required/>
        </label>
        <div class="text__label cover__label">
          <p><span style="color: red;">*</span>Cover (.png, .jpg, .jpeg, .gif):</p>
          <ul>
            <label for="cover" class="file__label">Upload&nbsp;<i data-feather="upload" height="20" width="20"></i></label>
            <input type="file" name="cover" id="cover" class="cover" accept="image/gif, image/png, image/jpg, image/jpeg" autocomplete="off" required/>
            <div class="file" style="display: none;"><span></span>&nbsp;<i data-feather="x" height="20" width="20"></i></div>
          </ul>
        </div>
        <label for="description" class="text__label">
          <p><span style="color: red;">*</span>Description:</p>
          <textarea type="text" name="description" id="description" placeholder="Description" resize="vertical" autocomplete="off" required></textarea>
        </label>
        <div class="text__label team">
          <p><span style="color: red;">*</span>Team:</p>
          <ul>
            <li id="addNewStudent" name="student" class="menu-item-divided"><img height="22" width="22" src="{{ url_for('static', filename='image/plus.svg') }}"></li>
          </ul> 
        </div>
        <label for="link-images" class="text__label">
          <p>Images:</p>
          <input type="text" name="link-images" id="link-images" placeholder="Link" autocomplete="off"/>
        </label>
        <label for="link-pres" class="text__label">
          <p>Presentation:</p>
          <input type="text" name="link-pres" id="link-pres" placeholder="Link" autocomplete="off"/>
        </label>
        <label for="link-video" class="text__label">
          <p>Video:</p>
          <input type="text" name="link-video" id="link-video" placeholder="Link" autocomplete="off"/>
        </label>
        <label for="link-interes" class="text__label">
          <p>Useful links:</p>
          <input type="text" name="link-interes" id="link-interes" placeholder="Link, link..." autocomplete="off"/>
        </label>
        <div class="text__label submit">
          <ul>
            <input type="submit" value="Create" name="submit" id="submit" autocomplete="off">
            <a href="/projects" class="cancel">Cancel</a>
          </ul>
        </div>
      </div>
    </form>
    <div class="notification__box"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script>sendNotification("{{ message[0] }}", "{{ message[1] }}");</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <script src='https://unpkg.com/feather-icons'></script>
    <script src="{{ url_for('static', filename='js/projectForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.js') }}"></script>
  </body>
</html>