<!DOCTYPE html>
<html lang="en ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://fonts.cdnfonts.com/css/spoof-trial" rel="stylesheet">
        <title>Silaeder Projects | Витрина проектов Силаэдра</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>alert("{{message}}");</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <header class="site-header">
            <nav class="site-navigation">
                <img src="{{ url_for('static',filename='icon.jpg') }}" class="logo">
                <span class="name"><a href="#">Silaeder Projects</a></span>
                <input name="search" type="text" class="search" placeholder="Search..."  id="search">
                <ul class="nav">
                    <li><a href="/login" class="register"><span>Log In</span></a></li>
                    <li><a href="/regestration" class="register"><span>Sign Up</span></a></li>
                </ul>
            </nav>
        </header> 
        <section>
            {% for i in ans %}
            <a href="#">
                <div class="card">
                    <div class="content">
                        <img class="image" src="">
                        <div>
                            {% if (i[0]|length > 45) %}
                            <div class="marquee"><span>{{i[0]}}</span></div>
                            {% else %}
                            <div><span>{{i[0]}}</span></div>
                            {% endif %}
                            <span class="topic">{{i[2]}}</span>
                            <br>
                            <span>By {{i[1]}}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </body>
</html>