<!DOCTYPE html>
<html lang="en ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://fonts.cdnfonts.com/css/spoof-trial" rel="stylesheet">
        <title>Silaeder Projects | Витрина проектов Силаэдра</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="site-navigation">
                <img src="{{ url_for('static',filename='icon.jpg') }}" class="logo">
                <span class="name"><a href="#">Silaeder Projects</a></span>
                <input name="search" type="text" class="search" placeholder="Search..."  id="search">
                <ul class="nav">
                    <li><a href="#" class="register"><span>Log In</span></a></li>
                    <li><a href="#" class="register"><span>Sign Up</span></a></li>
                </ul>
            </nav>
        </header> 
        <section>
            {% for i in ans %}
            <a href="#">
                <div class="card">
                    <div class="content">
                        <img class="image" src="">
                        <h2>{{i[0]}}</h2>
                        <span>{{i[2]}}</span>
                        <span>By {{i[1]}}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </body>
</html>