<!DOCTYPE html>
<html lang="en ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css')}}">
        <link href="https://fonts.cdnfonts.com/css/spoof-trial" rel="stylesheet">
        <title>Silaeder Projects | Витрина проектов Силаэдра</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="site-navigation">
                <img src="{{url_for('static', filename='./icon.jpg')}}" class="logo">
                <span class="name"><a href="#">Silaeder Projects</a></span>
                <input name="search" type="text" class="search" placeholder="Search..."  id="search">
                <div class="dropdown">
                    <span>👤</span>                  
                    <div class="dropdown-content">
                        <a href="/myprojects/new">Create project</a>
                        <a href="/myprojects">My projects</a>
                        <a href="/logout" style="color: red;">Log Out</a>
                    </div>
                </div>
            </div>
            </nav>
        </header> 
        <section>
            <a href="#">
                <div class="card">
                    <div class="content">
                        <img class="image" src="">
                        <div>
                            <span class="topic">Topic</span>
                            <div class="marquee"><span>Title</span></div>
                            <span>By Name</span>
                        </div>
                    </div>
                </div>
            </a>
        </section>
    </body>
</html>