<!DOCTYPE html>
<html lang="en ru">
	<head>
		<meta charset="UTF-8" />
		<title>Projects | Silaeder Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sadText.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</head>
	<body>
    <nav class="navbar" style="z-index: 1;">
      <ul class="navbar__menu"> 
        <li class="navbar__item">
          <a href="/" class="navbar__link" state="static"><i data-feather="home"></i><span>Home</span></a>
        </li>
        <li class="navbar__item">
          <a href="/search" class="navbar__link" state="static"><i data-feather="search"></i><span>Search</span></a>
        </li>
        <li class="navbar__item">
          <a href="/projects" class="navbar__link" state="static"><i data-feather="folder"></i><span>Projects</span></a>        
        </li>
        <li class="navbar__item">
          <a href="/about" class="navbar__link" state="static"><i data-feather="help-circle"></i><span>About</span></a>        
        </li>
        {% if user %}
          <li class="navbar__item">
            <a href="/logout" class="navbar__link" state="logout"><i data-feather="log-out"></i><span>Sign&nbsp;Out</span></a>        
          </li>
        {% else %}
          <li class="navbar__item">
            <a href="/login" class="navbar__link" state="login"><i data-feather="log-in"></i><span>Sign&nbsp;In</span></a>        
          </li>
        {% endif %}
      </ul>
    </nav>
		<div class="notification__box"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script>sendNotification(`${{{ message[0] }}}`, `${{{ message[1] }}}`);</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
		{% if user %}
			{% if projects|length == 0 %}
				<div class="sad">
					<span>You don't have projects 😥</span>
				</div>
			{% else %}
				<div class="container projects">
					<div class="projects-inner">
						<header class="projects-header">
							<div class="title">Projects</div>
							<div class="count">{{projects|length}} project</div>
							<a href="/create">
								<span class="glyphicon">
									<i data-feather="plus-circle"></i>
								</span>
							</a>
						</header>
						<table class="projects-table">
							<thead>
								<tr>
									<th class="th__name">Name</th>
									<th class="th__leader">Leader</th>
									<th class="th__team">Team</th>
									<th class="th__teacher">Teacher</th>
									<th class="th__actions">Actions</th>
								</tr>
							</thead> 
							{% for i in projects %}
								<tr>
									<td class="td__name">
										<p>{{i.title}}</p>
										<p>{{i.topic}}</p>
									</td>
									<td class="td__leader">
										<p>{{i.leader.name}}</p>
										<p>{{i.leader.class}}</p>
									</td>
									<td class="member td__team">
										<div class="member-info">
											<p>{{i.team[0].name}}...</p>
											<p>{{i.team[0].class}}</p>
										</div>
									</td>
									<td class="member td__teacher">
										<div class="member-info">
											<p>{{i.teacher}}</p>
											<p>{{i.teacher.topic}}</p>
										</div>
									</td>
									<td class="td__actions">
										<ul class="actions">
											<a href="{{i.link.view}}" class="table-link-view 1">
												<li class="view">
													<i data-feather="eye" height="22" width="22"></i>
												</li>
											</a>
											<a href="{{i.link.edit}}" class="table-link-edit 1">
												<li class="edit">
													<i data-feather="edit-2" height="22" width="22"></i>
												</li>
											</a>
											<li class="trash 1" link="{{i.link.delete}}">
												<i data-feather="trash-2" height="22" width="22"></i>
											</li>
										</ul>
										<span class="more 1"><i data-feather="more-vertical"></i></span>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="column" style="display: none">
					<div class="dropdown">
						<div class="dropdown-slider">
							<ul class="dropdown-actions">
								<a href="#" class="dropdown-link-view">
									<li class="dropdown-action">View</li>
								</a>
								<a href="#" class="dropdown-link-edit">
									<li class="dropdown-action">Edit</li></a>
								<li class="dropdown-action is-destroy">Delete</li>
							</ul>
							<div class="dropdown-confirm">
								<div class="dropdown-confirm-message">
									<div class="dropdown-confirm-title">Delete this?</div>
								</div>
								<ul class="dropdown-confirm-actions">
									<a href="#" class="dropdown-link-delete">
										<li class="dropdown-action is-destroy">Delete</li>
									</a>
									<li class="dropdown-action">Cancel</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="delete-column" style="display: none">
					<div class="delete-confirm">
						<div class="message">
							<p>Delete this?</p>
						</div>
						<ul>
							<a href="#" class="table-link-delete">
								<li class="action delete">Delete</li>
							</a>
							<li class="action cancel">Cancel</li>
						</ul>
					</div>
				</div>
			{% endif %}
		{% else %}
			<div class="sad">
				<span>If you don't authenticated 😥</span>
			</div>
		{% endif %}
		<script src="https://unpkg.com/feather-icons"></script>
		<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
		<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
		<script src="{{ url_for('static', filename='js/feather.js') }}"></script>
	</body>
</html>
