<!DOCTYPE html>
<html lang="en ru">
	<head>
		<meta charset="UTF-8" />
		<title>Проекты | Проекты Силаэдра</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sadText.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</head>
	<body>
    <nav class="navbar" style="z-index: 1;">
      <ul class="navbar__menu"> 
        <li class="navbar__item">
          <a href="/" class="navbar__link" state="static"><i data-feather="home"></i><span>Главная</span></a>
        </li>
        <li class="navbar__item">
          <a href="/search" class="navbar__link" state="static"><i data-feather="search"></i><span>Поиск</span></a>
        </li>
        <li class="navbar__item">
          <a href="/myprojects" class="navbar__link" state="static"><i data-feather="folder"></i><span>Мои проекты</span></a>        
        </li>
        <li class="navbar__item">
          <a href="/about" class="navbar__link" state="static"><i data-feather="help-circle"></i><span>О нас</span></a>        
        </li>
        {% if user %}
          <li class="navbar__item">
            <a href="/settings" class="navbar__link" state="static"><i data-feather="settings"></i><span>Настройки</span></a>        
          </li>
          <li class="navbar__item">
            <a href="/logout" class="navbar__link" state="logout"><i data-feather="log-out"></i><span>Выйти</span></a>        
          </li>
        {% else %}
          <li class="navbar__item">
            <a href="/login" class="navbar__link" state="login"><i data-feather="log-in"></i><span>Войти</span></a>        
          </li>
        {% endif %}
      </ul>
    </nav>
		<div class="notification__box"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script>sendNotification("{{ message[0] }}", "{{ message[1] }}");</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
				<div class="container projects">
					<div class="projects-inner">
						<header class="projects-header">
							<div class="title">Проекты</div>
							<div class="count">{{projects|length}} проект</div>
							<a href="/projects/new">
								<span class="glyphicon">
									<i data-feather="plus-circle"></i>
								</span>
							</a>
						</header>
						<table class="projects-table">
							<thead>
								<tr>
									<th class="th__name">Название</th>
									<th class="th__leader">Лидер</th>
									<th class="th__team">Команда</th>
									<th class="th__team">Учитель</th>
									<th class="th__actions">Действия</th>
								</tr>
							</thead> 
							{% for i in projects %}
								<tr>
									<td class="td__name">
										<p>{{i[0]}}</p>
										<p>{{i[2]}}</p>
									</td>
									<td class="td__leader">
										<p>{{i[1]}}</p>
									</td>
									<td class="member td__team">
										{% for j in i[-2] %}
										<div class="member-info">
											<p>{{j}}</p>
										</div>
										{% endfor %}
									</td>
									<td class="td__teacher">
										<p>{{i[-1]}}</p>
									</td>
									<td class="td__actions">
										<ul class="actions {{i[3]}}">
											<a href="/projects/{{i[3]}}" class="table-link-view {{i[3]}}">
												<li class="view">
													<i data-feather="eye" height="22" width="22"></i>
												</li>
											</a>
											<a href="/projects/{{i[3]}}/edit" class="table-link-edit {{i[3]}}">
												<li class="edit">
													<i data-feather="edit-2" height="22" width="22"></i>
												</li>
											</a>
											<li class="trash {{i[3]}}" link="/projects/{{i[3]}}/delete">
												<i data-feather="trash-2" height="22" width="22"></i>
											</li>
										</ul>
										<span class="more {{i[3]}}"><i data-feather="more-vertical"></i></span>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="column" style="display: none">
					<div class="dropdown">
						<div class="dropdown-slider">
							<ul class="dropdown-actions">
								<a href="#" class="dropdown-link-view">
									<li class="dropdown-action">Просмотр</li>
								</a>
								<a href="#" class="dropdown-link-edit">
									<li class="dropdown-action">Редактировать</li></a>
								<li class="dropdown-action is-destroy">Удалить</li>
							</ul>
							<div class="dropdown-confirm">
								<div class="dropdown-confirm-message">
									<div class="dropdown-confirm-title">Удалить?</div>
								</div>
								<ul class="dropdown-confirm-actions">
									<a href="#" class="dropdown-link-delete">
										<li class="dropdown-action is-destroy">Удалить</li>
									</a>
									<li class="dropdown-action">Отмена</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="delete-column" style="display: none">
					<div class="delete-confirm">
						<div class="message">
							<p>Удалить?</p>
						</div>
						<ul>
							<a href="#" class="table-link-delete">
								<li class="action delete">Удалить</li>
							</a>
							<li class="action cancel">Отмена</li>
						</ul>
					</div>
				</div>
		<script src="https://unpkg.com/feather-icons"></script>
			<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
			<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
			<script src="{{ url_for('static', filename='js/feather.js') }}"></script>
	</body>
</html>
