<!DOCTYPE html>
<html lang="en ru">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register in Silaeder-School</title>
        <link rel="shortcut icon" href=""/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reg.css') }}">
            
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Dosis:wght@400;500;800&family=Nunito:wght@600&family=Rubik+Bubbles&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap" rel="stylesheet">

    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>alert("{{message}}");</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script>alert(msg);</script>
        <div class="main">

            <form class="register-form" action="/registration" method="post">

                <h1  class="register-h1">Register</h1>

                <ul class="register-ul">

                    <li><span>Username: </span></li>

                    <li>
                        <input type="text" name="username" class="register-input" id="name" placeholder="Name">
                    </li>

                    <li><span>Name: </span></li>

                    <li>
                        <input type="text" name="name" class="register-input" id="uname" placeholder="Username">
                    </li>
                        
                    <li><span>Surname: </span></li>

                    <li>
                        <input type="text" name="surname" class="register-input" id="surname" placeholder="Surname">
                    </li>

                    <li><span>Email: </span></li>

                    <li>
                        <input type="email" name="email" class="register-input" id="email" placeholder="Email">
                    </li>

                    <li><span>Password: </span></li>

                    <li>
                        <div class="password">
                            <input minlength="6" maxlength="16" size="16" type="text" class="register-input" id="password" name="password" placeholder="Password">
                            <a href="#" class="password-control" onclick="return show_hide_password(this, 'passw');"></a>
                        </div>
                    </li>

                    <li><span>Repeat password: </span></li>

                    <li>
                        <div class="password">
                            <input minlength="6" maxlength="16" size="16" type="text" class="register-input" id="password2" name="password2" placeholder="Password">
                            <a href="#" class="password-control" onclick="return show_hide_password(this, 'passw1');"></a>
                        </div>
                    </li>

                    <li>
                        <input type="submit" name="submit" id="submit" class="register-input-submit" value="Submit"/>
                    </li>

                </ul>

            </form>

            <div class="exit-div">

                <a href="/" class="link-exit">

                    <img src="{{ url_for('static',filename='Arrow Exit Icon.svg') }}" class="exit-icon">

                </a>

            </div>

        </div>

        <script>
            function show_hide_password(target, id){
                var input = document.getElementById(id);
                if (input.getAttribute('type') == 'password') {
                    target.classList.add('view');
                    input.setAttribute('type', 'text');
                } 
                else {
                    target.classList.remove('view');
                    input.setAttribute('type', 'password');
                }
                return false;
            }
        </script>

    </body>

</html>