<!DOCTYPE html>
<html lang="en ru">
  <head>
    <meta charset="UTF-8">
    <title>Sign Up | Silaeder Projects</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <form class="form__input" method="POST" action="/register">
      <h1 class="form__title">Sign Up</h1>
      <input name="username" id="username" type="text" placeholder="Username" autocomplete="off" required/>
      <input name="name" id="name" type="text" placeholder="Name" autocomplete="off" required/>
      <input name="surname" id="surname" type="text" placeholder="Surname" autocomplete="off" required/>
      <input name="email" id="email" type="email" placeholder="Email" autocomplete="off" required/>
      <input name="password" id="password" type="password" placeholder="Password" autocomplete="off" requred/>
      <input name="submit" type="submit" value="Sign Up" id="submit-btn"/>
      <div class="link">
        <a href="/login">If you authenticated</a>
      </div>
    </form>
    <div class="notification__box"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script>sendNotification("{{ message[0] }}", "{{ message[1] }}");</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </body>
</html>
