<!DOCTYPE html>
<html lang="en ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "viewproject.css">
        <link href="https://fonts.cdnfonts.com/css/spoof-trial" rel="stylesheet">
        <title>Silaeder Projects | Витрина проектов Силаэдра</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="site-navigation">
                <img src="photo_2023-07-31_17-49-55.jpg" class="logo">
                <span class="name"><a href="#">Silaeder Projects</a></span>
                <input name="search" type="text" class="search" placeholder="Search..."  id="search">
                <div class="dropdown">
                    <span>Н</span>                  
                    <div class="dropdown-content">
                        <a href="#">Create project</a>
                        <a href="#">My projects</a>
                        <a href="#" style="color: red;">Log Out</a>
                    </div>
                </div>
            </div>
            </nav>
        </header>
        <div class="form">
            <form>
                <span class="titles">Название проекта: </span>
                <span class="description">Title</span> 
                <br>    
                <span class="titles">Научный руководитель | тимлид: </span>
                <span class="description">Name</span> 
                <br>  
                <span class="titles">Участники: </span>
                <ul id="collaborators">
                    <li>name</li>
                </ul> 
                <br>  
                <span class="titles">Описание проекта: </span>   
                <br>
                <span class="descriptionp">Description</span>
                <br>
                <span class="titles">Ссылка на картинки: </span>    
                <span class="description"><a href="#">Link</a></span>             
                <br> 
                <span class="titles">Ссылка на PGF презентацию: </span>
                <span class="description"><a href="#">Link</a></span> 
                <br>
                <span class="titles">Ссылка на видео: </span>
                <span class="description"><a href="#">Link</a></span> 
                <br>
                <span class="titles">Полезные ссылки: </span>
                <span class="description"><a href="#">Links</a></span> 
                <br>
            </form>
        </div>
    </body>
</html>