<!DOCTYPE html>
<html lang="en ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
    <title>View project | Silaeder Projects</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script>sendNotification({{ message.type }}, {{ message.text }});</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="navbar" style="z-index: 1;">
      <ul class="navbar__menu"> 
        <li class="navbar__item">
          <a href="/" class="navbar__link" state="static"><i data-feather="home"></i><span>Home</span></a>
        </li>
        <li class="navbar__item">
          <a href="/search" class="navbar__link" state="static"><i data-feather="search"></i><span>Search</span></a>
        </li>
        <li class="navbar__item">
          <a href="/projects" class="navbar__link" state="static"><i data-feather="folder"></i><span>Projects</span></a>        
        </li>
        <li class="navbar__item">
          <a href="/about" class="navbar__link" state="static"><i data-feather="help-circle"></i><span>About</span></a>        
        </li>
        {% if user %}
          <li class="navbar__item">
            <a href="/logout" class="navbar__link" state="logout"><i data-feather="log-out"></i><span>Sign&nbsp;Out</span></a>        
          </li>
        {% else %}
          <li class="navbar__item">
            <a href="/login" class="navbar__link" state="login"><i data-feather="log-in"></i><span>Sign&nbsp;In</span></a>        
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="view__container">
      <span class="title">
        <a href="/" class="back">
          <i data-feather="arrow-left-circle" height="30" width="30"></i>
        </a>
        <p style="font-size: 19px;">&nbsp;{{project.title}}</p>
      </span>
      <div class="saver">
        <img class="cover" src="/static/{{project.cover}}" alt="cover">
        <ul class="ttl">
          <li><span>Topic:</span><span>&nbsp;{{project.topic}}</span></li>
          <li><span>Teacher:</span><span>&nbsp;{{projects.teacher.name}}</span></li>
          <li><span>Leader:</span><span>&nbsp;{{projects.leader.name}}</span></li>
          <li>
            <span style="color: #3d3c3c;">Team:</span>
            <ul class="team">
              {% for i in project.team %}
                <li>i.name</li>
              {% endfor %}
            </ul> 
          </li>
        </ul>
      </div>
      <div class="dtl">
        <span class="description">
          {{project.description}}
        </span>
        <ul style="margin-top: 2px;">
          {% if project.link.images %}
            <li><span style="color: #333;">Images:</span>&nbsp;<a href="{{project.link.images}}">Link</a></li>
          {% endif %}
          {% if project.link.presentation %}
            <li><span style="color: #333;">Presentation:</span>&nbsp;<a href="{{project.link.presentation}}">Link</a></li>
          {% endif %}
          {% if project.link.video %}
            <li><span style="color: #333;">Video:</span>&nbsp;<a href="{{project.link.video}}">Link</a></li>
          {% endif %}
          {% if project.link.useful|length != 0 %}
            <li>
              <span style="color: #333;">Useful links:</span>&nbsp;
              {% for i in project.link.useful %}
                <a href="{{i}}">Link</a> 
              {% endfor %}
            </li>
          {% enduf %}
        </ul>
      </div>
    </div>
    <div class="notification__box"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.js') }}"></script>
  </body>
</html>