@import url('https://fonts.cdnfonts.com/css/spoof-trial');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Dosis:wght@400;500;800&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Dosis:wght@400;500;800&family=Rubik+Bubbles&display=swap');

*{
    box-sizing: border-box;
}

::selection {
    background-color: #c3ad01;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #ad8500;
}

body {
    background-color: #f6f903;
}

.site-header {
    position: fixed;
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    transform: none;
}

.site-navigation {
    background-color: #edd200;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 10% auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.register {
    font-family: 'Spoof Trial', sans-serif;
    position: relative;
    font-size: 2.7vh;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    width: 130px;
    border: #c3ad01 solid 1.5px;
    border-radius: 7px;
    display: inline-flex;
    text-align: center;
    align-items: center;   
    justify-content: center;
    white-space: nowrap;
    background-color: #edd200
}

.register:hover {
    background-color: #c3ad01;  
}

.nav {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    margin-top: 0.5%;
}

.nav li {
    margin-top: 10px;
    text-align: center;
}

.name {
    font-family: 'Work Sans', 'Spoof Trial', sans-serif;
    font-size: 7vh;
}


.card {
    background-color: #ffffff;
    width: 22%;
    height: 78%;
    
    margin-left: auto;
    display: inline-block;
    margin-top: 0.2%;
    margin-left: 2.4%;
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-align: center;
    
}

.card span p {
    margin-top: 1.3%;
    font-size: 2.7778vh;
    font-family: 'Comfortaa', cursive, 'Rubik Bubbles', 'Dosis', sans-serif;
}

.card:hover {
    background-color: #dadadadd;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

.content {
    padding: 0 2rem;
}

.image {
    border-radius: 7px;
    height: 32%;
    width: 90%;
    margin-top: 10%;
}

h2 {
    font-size: auto;
    font-family: 'Comfortaa', cursive, 'Rubik Bubbles', 'Dosis', sans-serif;
    white-space: pre-line;
    overflow: hidden;
}

span {
    font-family: 'Raleway';
}

title {
    font-family: 'Comfortaa', cursive, 'Rubik Bubbles', 'Dosis', sans-serif;
}

section {
    width: 98%;
    height: 78%;
    top: 22%;
    position: absolute;
}

.search[type=text] {
    margin-left: 27%;
    width: 20%;
    display: flex;
    box-sizing: border-box;
    border: #c3ad01 solid 1.5px;
    border-radius: 7px;
    font-size: 2.5vh;
    background-image: url(https://cdn-icons-png.flaticon.com/512/151/151773.png);
    background-size: 23px;
    background-color: #edd200;
    color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 1% 2% 1% 4%;
}

.search:focus {
    color: #212529;
    background-color: #c3ad01;
    outline: 0;
    background-image: url('https://cdn-icons-png.flaticon.com/512/151/151773.png');
}

.search::placeholder {
    color: black;
    margin-left: 0.016%;
    font-family: 'Comfortaa', cursive, 'Rubik Bubbles', 'Dosis', sans-serif;
    font-size: 16px auto;
}


